In [ ]:
import pandas as pd

In [72]:
df = pd.read_csv('Datasets/OnlineRetail.csv', encoding='ISO-8859â€“1' )
df.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [74]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [75]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [76]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [77]:
df['Description'].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER     2369
REGENCY CAKESTAND 3 TIER               2200
JUMBO BAG RED RETROSPOT                2159
PARTY BUNTING                          1727
LUNCH BAG RED RETROSPOT                1638
                                       ...
Missing                                   1
historic computer difference?....se       1
DUSTY PINK CHRISTMAS TREE 30CM            1
WRAP BLUE RUSSIAN FOLKART                 1
PINK BERTIE MOBILE PHONE CHARM            1
Name: Description, Length: 4223, dtype: int64

In [78]:
df['InvoiceNo'].unique()

array(['536365', '536366', '536367', ..., '581585', '581586', '581587'],
      dtype=object)

In [79]:
df['Quantity']

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

# Clean up 1

In [83]:
df = df[df.Quantity > 1]

In [84]:
df['Quantity']

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 383058, dtype: int64

In [85]:
df.Quantity.unique()

array([    6,     8,     2,    32,     3,     4,    24,    12,    48,
          18,    20,    36,    80,    64,    10,   120,    96,    23,
           5,    50,    40,   100,   192,   432,   144,   288,    16,
           9,   128,    25,    30,    28,     7,    56,    72,   200,
         600,   480,    14,    11,    33,    13,    70,   252,    60,
         216,   384,    27,    15,    22,    19,    17,    21,    34,
          47,   108,    52,    75,   270,    42,   240,    90,   320,
        1824,   204,    69,   160,  2880,  1400,    39,    26,  1440,
          31,    82,    78,    97,    98,    35,    57,   110,   720,
         156,   324,    38,    37,    49,    95,    29,    41,   402,
         378,   150,   300,    54,   104,    67,   258,    66,    44,
          55,    46,    99,    61,   408,   972,   208,  1008,  1000,
        1488,   250,  1394,   400,    79,    84,   272,   113,    45,
         106,    68,   267,   115,    65,  1728,    53,    76,   460,
          71,    43,   213,    58,   576,  2400,   500,   180,   752,
         960,  1296,   210,   172,   215,   129,   138,   116,   135,
         197,   147,   168,   256,   860,  1010,  1356,  1284,   186,
         114,   360,  1930,  2000,  3114,  1300,   670,   111,   211,
          59,   176,   648,    62, 74215,    89,    73,   112,   456,
        5568,  2560,   136,   900,   130,  2592,   420,   800,   101,
        1200,   864,    94,  1287,   504,   123,   118,  1056,  1500,
         280,   407,   141,   124,    51,  3906,   102,  1152,   198,
         117,    86,   125,   140,   228,    81,  3000,   219,   232,
         170,   768,    88,   700,  2160,   342,   304,   167,   640,
         175,   220,    74,    93,   164,   163,    63,   637,   122,
         158,   165,   350,    83,   312,   392,   330,   151,   462,
         492,   273,    85,   105,  1350,   428,   336,   132,   227,
        2700,   222,   246,   906,   756,   888,   552,   224,   738,
         608,  4300,   146,   143,   276,  4000,  1600,   323,  1515,
         660,   264,   188,   588,   612,   152,   430,    87,   155,
         701,   828,   540,   696,   560,   121,   512,  3100,   126,
         291,  3186,   109,   261,   352,   142,   107,   348,  1900,
         157,   425,   968,   684,   824,   196,   248,   410,   236,
         230,   145,   448,   245,   171,   840,   225,   750,   682,
         344,   450,   310,   494,    92,  1788,   624,   744,   416,
         496,   396,   306,  1878,  1944,   666,   708,  1428,   852,
        1412,   528,   183,  1540,   672,    91,   255,   468,  4800,
         912,  1992,   184,   148,   832,   992,   630,  1020,  2100,
         162,   314,   370,   131,   133,   484,   149,   153,   257,
         139,   137,   628,   179,  1820,   478,   335,   253,   242,
         375,   281,   193,   181,   404,   244,   207,   199,  1130,
         326,   654,   688,   268,   249,   234,   279,   374,   212,
       12540,   760,   774,  2040,  1120,    77,   177,   490,   388,
         620,  1404,   205,   698, 80995], dtype=int64)

In [86]:
df.UnitPrice

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 383058, dtype: float64

In [88]:
df.UnitPrice.value_counts()

1.25     40203
1.65     31444
0.85     24050
0.42     22021
2.95     21533
         ...
8.07         1
35.00        1
12.98        1
6.40         1
1.89         1
Name: UnitPrice, Length: 447, dtype: int64

In [109]:
df.UnitPrice.unique()

array([2.550e+00, 3.390e+00, 2.750e+00, 7.650e+00, 4.250e+00, 1.850e+00,
       1.690e+00, 2.100e+00, 3.750e+00, 1.650e+00, 4.950e+00, 9.950e+00,
       5.950e+00, 7.950e+00, 8.500e-01, 6.500e-01, 1.250e+00, 2.950e+00,
       1.950e+00, 4.200e-01, 1.800e+01, 1.060e+00, 6.950e+00, 1.095e+01,
       3.450e+00, 5.500e-01, 3.800e-01, 1.450e+00, 3.950e+00, 6.750e+00,
       1.495e+01, 1.695e+01, 6.450e+00, 1.275e+01, 8.500e+00, 3.820e+00,
       3.370e+00, 5.450e+00, 6.350e+00, 7.200e-01, 6.400e-01, 1.000e-01,
       3.200e-01, 1.480e+00, 3.575e+01, 4.650e+00, 2.900e-01, 3.350e+00,
       9.500e-01, 2.100e-01, 1.200e-01, 0.000e+00, 2.400e-01, 1.490e+00,
       1.550e+00, 3.250e+00, 2.250e+00, 8.950e+00, 2.510e+00, 1.660e+00,
       4.300e-01, 2.980e+00, 5.910e+00, 3.360e+00, 7.620e+00, 1.698e+01,
       1.102e+01, 8.470e+00, 4.210e+00, 8.100e-01, 1.280e+00, 5.060e+00,
       1.272e+01, 6.770e+00, 9.320e+00, 8.400e-01, 1.017e+01, 1.187e+01,
       1.995e+01, 4.600e+00, 1.050e+00, 1.357e+01, 1.613e+01, 2.549e+01,
       2.123e+01, 2.038e+01, 2.820e+00, 1.270e+00, 3.190e+00, 9.900e-01,
       2.130e+00, 5.090e+00, 1.900e-01, 1.075e+01, 7.500e-01, 3.600e-01,
       3.400e-01, 1.600e-01, 1.880e+00, 1.800e-01, 2.995e+01, 4.000e+01,
       1.443e+01, 1.840e+00, 2.110e+00, 3.830e+00, 2.800e+01, 4.295e+01,
       5.550e+00, 5.490e+00, 4.240e+00, 9.340e+00, 1.260e+00, 1.065e+01,
       3.000e-01, 8.300e-01, 5.940e+00, 6.600e+00, 1.930e+00, 3.210e+00,
       5.300e-01, 7.000e-02, 6.370e+00, 3.810e+00, 3.400e+01, 5.740e+00,
       2.979e+01, 3.995e+01, 4.780e+00, 1.984e+01, 2.310e+00, 6.380e+00,
       9.890e+00, 3.860e+00, 5.277e+01, 3.880e+00, 3.269e+01, 5.510e+00,
       2.540e+00, 3.490e+00, 1.400e-01, 2.195e+01, 1.450e+02, 1.994e+01,
       2.500e-01, 6.790e+00, 2.960e+00, 4.810e+00, 1.750e+02, 1.700e-01,
       2.500e+00, 7.500e+00, 6.250e+00, 2.120e+00, 1.250e+02, 5.000e-01,
       2.000e+00, 1.530e+00, 9.400e-01, 3.495e+01, 3.000e+00, 1.500e+01,
       8.070e+00, 1.000e+00, 3.500e+00, 4.000e-01, 3.500e+01, 1.595e+01,
       2.000e-01, 7.250e+00, 7.640e+00, 3.980e+00, 3.700e-01, 8.490e+00,
       6.500e+01, 2.495e+01, 3.240e+00, 2.170e+00, 1.013e+01, 2.400e+00,
       2.650e+00, 2.210e+00, 2.160e+00, 7.300e-01, 1.240e+00, 3.440e+00,
       4.680e+00, 2.220e+00, 2.690e+00, 4.620e+00, 6.910e+00, 9.160e+00,
       8.870e+00, 7.130e+00, 4.130e+00, 2.460e+00, 6.630e+00, 7.460e+00,
       5.790e+00, 3.290e+00, 1.663e+01, 8.290e+00, 4.960e+00, 1.630e+00,
       1.246e+01, 9.130e+00, 2.080e+00, 2.496e+01, 7.450e+00, 3.120e+00,
       2.920e+00, 7.900e-01, 2.900e+00, 2.070e+00, 1.079e+01, 9.700e-01,
       1.413e+01, 1.163e+01, 9.960e+00, 1.579e+01, 1.000e+01, 3.730e+00,
       9.150e+00, 1.996e+01, 1.100e+02, 1.040e+00, 4.980e+00, 7.900e+00,
       3.329e+01, 2.760e+00, 4.150e+00, 1.670e+00, 1.460e+00, 1.248e+01,
       5.380e+00, 1.800e+00, 1.329e+01, 7.070e+00, 2.480e+00, 2.079e+01,
       4.996e+01, 4.710e+00, 8.200e-01, 1.380e+00, 5.750e+00, 4.770e+00,
       2.917e+01, 2.200e-01, 5.630e+00, 6.000e-02, 3.900e-01, 4.120e+00,
       1.750e+00, 8.150e+00, 3.330e+00, 5.000e+00, 3.500e-01, 1.230e+00,
       5.830e+00, 2.756e+02, 6.980e+00, 4.580e+00, 2.890e+00, 8.250e+00,
       5.995e+01, 3.295e+01, 4.000e+00, 8.000e-02, 3.400e+00, 8.320e+00,
       1.496e+01, 3.595e+01, 6.300e-01, 6.800e-01, 2.320e+00, 1.700e+00,
       6.000e+00, 1.298e+01, 3.850e+00, 8.330e+00, 2.490e+00, 1.295e+01,
       1.500e+00, 2.450e+00, 1.790e+00, 9.860e+00, 1.195e+01, 3.140e+00,
       5.000e+01, 6.650e+00, 1.250e+01, 1.667e+01, 1.350e+00, 2.350e+00,
       7.050e+00, 3.300e+00, 1.740e+00, 3.150e+00, 6.620e+00, 1.115e+01,
       2.000e+01, 1.040e+01, 2.913e+01, 5.829e+01, 1.890e+00, 5.390e+00,
       6.900e-01, 7.400e-01, 2.660e+00, 2.330e+00, 6.780e+00, 5.880e+00,
       4.860e+00, 3.320e+00, 9.420e+00, 1.980e+00, 1.180e+00, 1.920e+00,
       6.420e+00, 4.270e+00, 1.680e+00, 5.355e+01, 4.175e+01, 1.900e+00,
       4.180e+00, 5.970e+00, 5.900e-01, 4.000e-02, 6.495e+02, 4.800e+00,
       3.910e+00, 3.900e+00, 6.400e+00, 8.000e+00, 2.800e-01, 6.200e-01,
       2.060e+00, 2.700e-01, 8.600e-01, 2.260e+00, 2.620e+00, 5.800e-01,
       9.800e-01, 7.850e+00, 6.500e+00, 6.890e+00, 5.320e+00, 2.290e+00,
       5.400e+00, 8.500e+01, 4.995e+01, 2.390e+00, 3.200e+00, 6.230e+00,
       4.300e+00, 1.020e+00, 1.080e+00, 1.420e+00, 3.280e+00, 1.430e+00,
       4.020e+00, 4.080e+00, 5.140e+00, 2.600e+00, 5.080e+00, 5.150e+00,
       1.039e+01, 2.880e+00, 7.080e+00, 4.990e+00, 5.795e+01, 5.100e+00,
       2.410e+00, 5.180e+00, 8.120e+00, 1.640e+00, 5.640e+00, 6.720e+00,
       1.960e+00, 9.980e+00, 4.670e+00, 1.167e+01, 8.000e-01, 6.100e-01,
       3.100e-01, 1.829e+01, 6.360e+00, 3.260e+00, 1.120e+00, 1.970e+00,
       6.670e+00, 1.400e+00, 2.850e+00, 1.600e+00, 5.660e+00, 3.580e+00,
       5.350e+00, 9.000e-01, 3.570e+00, 3.890e+00, 3.970e+00, 5.680e+00,
       2.910e+00, 2.300e+00, 1.221e+01, 1.665e+01, 4.500e+00, 2.080e+01,
       1.788e+01, 3.920e+00, 4.140e+00, 2.500e+01, 4.163e+01, 1.455e+01,
       3.130e+00, 1.710e+00, 7.480e+00, 1.100e+00, 1.110e+00, 5.170e+00,
       2.670e+00, 9.200e-01, 2.940e+00, 1.296e+01, 9.570e+00, 1.895e+01,
       1.313e+01, 6.710e+00, 2.040e+00, 5.820e+00, 1.029e+01, 5.130e+00,
       1.190e+00, 5.200e-01, 7.840e+00, 2.420e+00, 1.010e+00, 3.160e+00,
       4.700e+00, 9.000e-02, 1.700e+01, 4.500e+01, 7.800e-01, 2.990e+00,
       1.860e+00, 1.335e+01, 4.760e+00])

# Clean up 2

In [110]:
df = df[df.UnitPrice > 0]

In [111]:
df.UnitPrice

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541903    4.15
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 289657, dtype: float64

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 289657 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    289657 non-null  object
 1   StockCode    289657 non-null  object
 2   Description  289657 non-null  object
 3   Quantity     289657 non-null  int64
 4   InvoiceDate  289657 non-null  object
 5   UnitPrice    289657 non-null  float64
 6   CustomerID   242360 non-null  float64
 7   Country      289657 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 19.9+ MB